body
{
  background-color: #242424;
  color: #cbcbcb;
  font-family: "Open Sans Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
div.content
{
  font-size: 24px;
  line-height: 1.2em;
}

a
{
  font-size: 32px;
  line-height: 1.5em;
}

div.menu
{
  cursor: pointer;
  cursor: hand;
  font-size: 36px;
  font-weight: bold;
  color: #ffc300;
  line-height: 2em;
}

a:link{color: #cbcbcb; text-decoration: none;}
a:visited{color: #777; text-decoration: none;}
a:hover{color:#fff; text-decoration: none;}
a:active{color:#ff0000; text-decoration: none;}
