/* Link styling */
#title a {
display: block;
text-indent: -9999px;
text-decoration: none;
outline: none;
cursor: default;
}

/* position on the image (z-index goes here) */
#write {left: 480px; top: 0px; }
#tech {left: 0px; top: 0px;}

/* width & height */
#write a {width: 632px; height: 223px;}
#tech a {width: 480px; height: 223px;}


/* hover image position */
#write a:hover {background: url(viona3.png) 480px 0px no-repeat;}
#tech a:hover {background: url(viona2.png) 0px 0px no-repeat; }